In [1]:
print(0.1+0.2)

0.30000000000000004

In [2]:
print("1.8"+"2")

1.82

In [3]:
print(87>78)

True

In [4]:
print((0.1+0.2)==0.3)

False

In [6]:
print("Predict " " Output",".....")

Predict  Output .....

In [7]:
print("Prints","multiple ","messages\n")

Prints multiple  messages

In [8]:
print("Concatenate "+" two strings\n")

Concatenate  two strings

In [9]:
print(5+6+" adds two numbers\n")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
print("ba"+"na"*2)

banana

In [12]:
print(r"C:\naresh\raju\abhi")

C:\naresh\raju\abhi

In [13]:
'Welcome to Python traing program'[-4::-4]

'g anytoW'

In [14]:
'A series of characters designated as one object known as a string'[2:18:5]

'sscc'

In [16]:
print('A series of characters designated as one object known as a string'[::-1][4::3])

taawkcbe  tgestrcoeeA

In [17]:
print("-----------")

-----------

In [2]:
print('Welcome to Python traing program'[3:10][::-1])

ot emoc

In [19]:
str1=True
x= 5 > 3
print(str1==x)
y= 5 > 8
print(str1==y)

True
False

In [20]:
num=7
Name = "Micheal Jackson"
sear_num = Name.find('el')
print(num > sear_num)

True

In [39]:
p_pharse="was it a car or a cat I saw"
x=p_pharse.upper()[::-1]
print(x)

WAS I TAC A RO RAC A TI SAW

In [1]:
A='1934567\n'
n=A[1::2]
print(int(n))

946

In [46]:
fake_phrase = "Fake news has a knack for spreading like wild fire"
x=fake_phrase[16:40:].upper()[::-1]
x.split()

['EKIL', 'GNIDAERPS', 'ROF', 'KCANK']

In [28]:
msg1 = " Facebook already uses Al to Filter Fake stories from the feed of users "
print(msg1.split())

['Facebook', 'already', 'uses', 'Al', 'to', 'Filter', 'Fake', 'stories', 'from', 'the', 'feed', 'of', 'users']

In [32]:
msg2 = "Welcome to sr engineering college"
msg2.count("o")   #x

3

In [33]:
msg2.count("r")    #y

2

In [36]:
msg2[y**x:(x**y+x+y):][::-1]
msg2[2**3:(3**2+3+2):][::-1]

' rs ot'

In [37]:
num1,num2= "94","30"
data="As per census 2011, Gender ratio of India is 943 females per 1000 males"
num1+num2[0] in data

True

In [38]:
print(data[:45],print(int(num1)+int(num2)))        #num1=94  num2=30

124
As per census 2011, Gender ratio of India is  None

In [51]:
x=int(input('Enter x value'))
y=x*2
print('z'*x+'o'*y)

Enter x value3
zzzoooooo

In [52]:
x=int(input('enter x value'))
y=int(input('enter y value'))
pow=x**y
print(pow)
div=int(pow/(x*y))
print(div)
print(div^(x+y))

enter x value5
enter y value6
15625
520
515

In [7]:
M= float(input('enter amount of water in kilograms '))
initialtemperature=float(input('enter initial temperature of water in degree celsius '))
finaltemperature=float(input('enter final temperature of water in degree celsius '))
Q = M * 4184 * (finaltemperature - initialtemperature)
print(f'energy reguried to heat water = {Q} joules')

enter amount of water in kilograms 15
enter initial temperature of water in degree celsius 70
enter final temperature of water in degree celsius 100
energy reguried to heat water = 1882800.0 joules